# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore virtual environment
/venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
mainproject/*.pyc
mainproject/__pycache__/



# Ignore log files
*.log

# Ignore environment variables file
.env
env/*

# Ignore secret key file
secret_key.txt

# Ignore local settings file
local_settings.py
mainproject/db.sqlite3
mainproject/media/*
mainproject/core/__pycache__/*
